<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="cn.jiangklijna.ella">

	<uses-permission android:name="android.permission.INTERNET" />

	<application android:allowBackup="true"
				 android:label="@string/app_name"
				 android:name=".common.App"
				 android:icon="@mipmap/ic_launcher"
				 android:supportsRtl="true"
				 android:theme="@style/AppTheme">

		<activity
				android:name=".ui.activity.ActMain"
				android:launchMode="singleTask"
				android:persistent="true"
				android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".ui.activity.ActPlayer"/>

	</application>

</manifest>
